@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Goldman', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

#heartRate {
  font-size: 5em;
  color: #aaaaaa;
  margin: auto;
  padding: 50px, 0;
  display: flex;
  justify-content: center left;
  align-items: center;
  height: 200px;
}

#heart fill {
  color: red;
}